<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Hello Omid</title>
</head>

<body>
{% block content %}

<div align="center">
    <p>سلام امیر خوبی ؟؟</p>
    <p>اسم
        <b>من مالک اشتره</b>


    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.power }}</p>

<!--        <a href="http://google.com">Shutdown!</a>-->

        <p>{{ form.submit() }}</p>
    </form>
    </div>
{% endblock %}
</body>
</html>