<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Log file</title>
</head>
<body>


{% block content %}

    <h1>Log Details</h1>
    <br>
    <h2><p>
        {% if prev_url %}
            <a href="{{ prev_url }}"
               style="border: 1px solid lawngreen; border-radius: 7px;color: black;padding: 10px 5px; text-decoration:none; background: powderblue">Newer</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}"
               style="border: 1px solid lawngreen; border-radius: 7px;color: black;padding: 10px 5px; text-decoration:none; background: powderblue">Older</a>
        {% endif %}
    </p></h2>
    {% for post in posts %}
        <div style="width: 30%;border: solid 2px mediumvioletred;float:left;margin: 1%; border-radius: 7px;">
            <p>id : {{ post.id }}</p>
            <p>announcement_id : {{ post.announcement_id }}</p>
            <p>Type : {{ ann_obj.type }}</p>
            <p>is_seen : {{ post.is_seen }}</p>
            <p>is_submit : {{ post.is_submit }}</p>
            <p><b>create at date: {{ post.created_at.year, post.created_at.month, post.created_at.day }}</b>
            <p><b>create at time: {{ post.created_at.hour, post.created_at.minute, post.created_at.second }}</b></p>
            <p>year : {{ ann_obj.build_year }}</p>
            <p>mobile number : {{ ann_obj.mobile_number }}</p>
            <p>place : {{ ann_obj.place }}</p>

        </div>
    {% endfor %}


{% endblock %}
</body>
</html>