<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Log file</title>
</head>
<body>


{% block content %}

    <h1>Log Details</h1>
    <br>
    <h2 style="margin-bottom: 50px;"><p>
        {% if prev_url %}
            <a href="{{ prev_url }}"
               style="border: 1px solid lawngreen; border-radius: 7px;color: black;padding: 10px 5px; text-decoration:none; background: powderblue">Newer</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}"
               style="border: 1px solid lawngreen; border-radius: 7px;color: black;padding: 10px 5px; text-decoration:none; background: powderblue">Older</a>
        {% endif %}
    </p></h2>
    <table>
        <thead style="background: #9e9e9e;line-height: 30px">
        <th>ردبف</th>
        <th>id</th>

        <th>is seen</th>
        <th>is submit</th>
        <th>تاریخ</th>
        <th>ساعت</th>
        <th></th>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr style="background: #efefef;line-height: 30px;text-align: center">
                <td style="padding: 5px;min-width: 80px">{{ post.id }}</td>

                <td style="padding: 5px;min-width: 80px">{{ post.announcement_id }}</td>

                <td style="padding: 5px;min-width: 80px">{{ post.is_seen }}</td>

                <td style="padding: 5px;min-width: 80px">{{ post.is_submit }}</td>

                <td style="padding: 5px;min-width: 80px">
                    <b>{{ post.created_at.year }}/{{ post.created_at.month }}/{{ post.created_at.day }}</b>

                <td style="padding: 5px;min-width: 80px">

                    <b>{{ post.created_at.hour }}: {{ post.created_at.minute }}: {{ post.created_at.second }}</b></td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>